<div class="wrapper row3 animated fadeIn">
  <section class="hoc container clear">
    <h3>Our Teledrama Products</h3>
    <div class="row" *ngIf="teledramaList">
      <div class="col-sm-4" *ngFor="let teledrama of teledramaList | paginate: { itemsPerPage: 6, currentPage: page }">
        <article>
          <iframe height="200" width="250" [src]='teledrama.url | urlFilter' frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe><br>
          <span style="font-size: small">
            <b>{{teledrama.title}}</b>
          </span><br/>
          <span style="color:darkgray; font-size: smaller">Language :- {{teledrama.language}}</span><br/>
          <span style="color:darkgray; font-size: smaller">Director:- {{teledrama.director}}</span><br/>
          <a (click)="viewInformation(commercial)" style="cursor: pointer;">{{show_less}}</a>
          <div class="showMore" *ngIf="showmore">
            <span style="color:darkgray; font-size: smaller">Editor:- {{teledrama.feedback}}</span><br/>
            <span style="color:darkgray; font-size: smaller">Producer:- {{teledrama.producer}}</span><br/>
            <span style="color:darkgray; font-size: smaller">Camera:- {{teledrama.camera}}</span><br/>
          </div>
        </article>
      </div>
    </div>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </section>
</div>
