<div class="wrapper row4">
  <footer id="footer" class="hoc clear">
    <div class="one_third first">
      <h6 class="title">Sunline Advertising</h6>
      <p>We are a creative Marketing firm with a smart mix of talent, professionalism and marketing know.We will craft your marketing vision from start to finish, from thought to masterpiece, minus the typical agency</p>
      <p class="btmspace-15">We have a significant impact in the market plae and enjoy a successful reputation in the areas of marketing, cooperate sales, media management, event management, signage/ display production and installation at both corpotare and industry levels</p>
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="https://www.facebook.com/sunlinead/"><i class="fa fa-facebook"></i></a></li>
        <li><a class="favicon-youtube" href="https://www.youtube.com/channel/UCTto1U0dHoX17CrT2HTnjfg"><i class="fa fa-youtube"></i></a></li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="title">Contact Details</h6>
      <ul class="nospace linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
            No 265, Sunline Advertising &amp; Suriyamal Mawatha, Diyulapitiya, Pepiliyana, Srilanka
          </address><br>
          <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
        </li>
        <li><i class="fa fa-phone"></i>071 147 7676</li>
        <li><i class="fa fa-fax"></i>011 2810762</li>
        <li><i class="fa fa-envelope-o"></i>sunlineAds@gmail.com</li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="title">Joined Organization</h6>
      <ul class="nospace linklist">
        <li>
          <article>
            <h2 class="nospace font-x1"><a href="http://www.amarakoonculturalfoundation.com/">Amarakon Cultural Foundation</a></h2>
            <time class="font-xs block btmspace-10" datetime="2045-04-06">Founded on , 9<sup>th</sup> July 2013</time>
            <p class="nospace">This Foundation was established under the patronage of SriDeshabimani Jayee Amarakoon,a popular artist in cinema field.On our first gathering our Chairman,Mr.Jayee Amarakoon explained his real motive to start this Foundation.As he had associate with many Artists during the past few years,he has seen the real difficulties undergoing by many senior artists,especially financially.&hellip;</p>
          </article>
        </li>
      </ul>
    </div>
  </footer>
</div>
<div class="wrapper row5">
  <div id="copyright" class="hoc clear">
    <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">sunline advertising</a></p>
  </div>
</div>
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>

