<div class="wrapper row3 animated fadeIn">
    <section class="hoc container clear">
      <img src="../../assets/images/platinum.jpg"/>
      <p><b>Price:- Rs 40,000.00</b></p>
      <b><u>Includes</u></b>
      <ul>
        <li>A Video Introduction about you</li>
        <li>Who are you?</li>
        <li>Why you are so Special</li>
        <li>Why client must choose you</li>
        <li>Your Qualifications</li>
        <li>You achievements</li>
        <li>About your uniqueness</li>
        <li>
          A video introduction about your company
          <ul>
            <li>Location</li>
            <li>Address</li>
            <li>Phone Number</li>
            <li>Your logo</li>
            <li>Explanation about your vision and mission</li>
          </ul>
        </li>
        <li>Two Video segments about your tallented service</li>
        <li>
          A documentry film about you and your business
          <ul>
            <li>About your success story</li>
            <li>A recomendations from your clients through their voice cuts</li>
          </ul>
        </li>
        <li>
          A web commercial<br>
          You can use this commercial to your promotion on FB and so on, what we can
          do for your business is to make it top on the industry. As we all know face book and
          online marketing has been a major role on advertising why you are so late for it. It is new era come let's 
          make it happen.
        </li>
        <li>
          What we can do?
          <ul>
            <li>Web site for your company</li>
            <li>
              FB page and maintain such as
              <ul>
                <li>updating images about your work</li>
                <li>Updating video clips</li>
                <li>Updating your price lists</li>
              </ul>
            </li>

          </ul>
        </li>
      </ul>
    </section>
  </div>
