<div class="wrapper row3">
  <section class="hoc container clear">
    <h3 class="font-x3 nospace">About Us</h3>
    <p>SUNLINE Advertising (pvt)Ltd is a full service marketing
      communications company expertise in events management, promotional
      marketing and audio-visual productions. Our creative professionals have a wide experience in
    creative script writing, graphic design, web design, logo design, production marketing, paper advertisements,
    coperate videos, documentary videos, tv commercials, music videos, tele dramas and film productions. We reach out
    to target markets, customers & our respectable clients.</p>
  </section>

  <section class="hoc container clear">
    <h3 class="font-x3">Our Team</h3>
    <ul class="nospace group services">
      <li class="one_third first btmspace-30">
        <article>
          <a href="#">
            <img src="../../assets/images/team/managing_director.jpg" style="height: 250px;">
          </a><br><br>
          <span><b>A.M.J.Amarakon</b></span><br><br>
          <span><b><i class="fa fa-user"></i> Managing Director</b></span><br>
          <span><i class="fa fa-envelope"></i> businessmy10@yahoo.com</span>
        </article>
      </li>
      <li class="one_third btmspace-30">
        <article>
          <a href="#">
            <img src="../../assets/images/team/ceo.jpg">
          </a><br><br>
          <span><b>W.M.K Prasadhika Wijesundara</b></span><br><br>
          <span><b><i class="fa fa-user"></i> C.E.O.</b></span><br>
          <span><i class="fa fa-envelope"></i> prasadhika.sunline@gmail.com</span>
        </article>
      </li>
      <li class="one_third first btmspace-30">
        <article>
          <a href="#">
            <img src="../../assets/images/team/visual-director.jpg" style="height: 250px;">
          </a><br><br>
          <span><b>P.A.Nipuna Suranjith Ranaweera</b></span><br><br>
          <span><b><i class="fa fa-user"></i> Visual Director</b></span><br>
          <span><i class="fa fa-envelope"></i> nipuna.sunlinevfx@gmail.com</span>
        </article>
      </li>
      <li class="one_third  btmspace-30">
        <article>
          <a href="#">
            <img src="../../assets/images/team/video-editor.jpg">
          </a><br><br>
          <span><b>W.M.M.P.Chamika Wijesundara</b></span><br><br>
          <span><b><i class="fa fa-user"></i> Video Editor & Master Camera</b></span><br>
          <span><i class="fa fa-envelope"></i> chamika.sunline@gmail.com</span>
        </article>
      </li>
      <li class="one_third btmspace-30">
        <article>
          <a href="#">
            <img src="../../assets/images/team/no-photo.jpg" style="height: 250px;">
          </a><br><br>
          <span><b>W.K.A.Dilini Ayeshika Wijesinghe</b></span><br><br>
          <span><b><i class="fa fa-user"></i> Script Writer</b></span><br>
          <span><i class="fa fa-envelope"></i> No mail address</span>
        </article>
      </li>
      <li class="one_third  first btmspace-30">
        <article>
          <a href="#">
            <img src="../../assets/images/team/no-photo.jpg">
          </a><br><br>
          <span><b>P.K.Dulanjali Madushani Wijesinghe</b></span><br><br>
          <span><b><i class="fa fa-user"></i> Media Presenter</b></span><br>
          <span><i class="fa fa-envelope"></i> No mail address</span>
        </article>
      </li>
      <li class="one_third  btmspace-30">
        <article>
          <a href="#">
            <img src="../../assets/images/team/web-developer.jpg">
          </a><br><br>
          <span><b>Amila Viduranga Welikala</b></span><br><br>
          <span><b><i class="fa fa-user"></i >Web Developer</b></span><br>
          <span><i class="fa fa-envelope"></i> amila.sunline@gmail.com</span>
        </article>
      </li>
      <li class="one_third  btmspace-30">
        <article>
          <a href="#">
            <img src="../../assets/images/team/no-photo.jpg">
          </a><br><br>
          <span><b>S.K.Jesmie Nathalee Silva</b></span><br><br>
          <span><b><i class="fa fa-user"></i> Computer Typist</b></span><br>
          <span><i class="fa fa-envelope"></i> jasmie.sunline@gmail.com</span>
        </article>
      </li>
    </ul>
  </section>
</div>
