<header id="header" class="hoc clear">
  <div id="logo" class="fl_left">
    <h1>
      <a href="index.html">
        <img src="../../assets/images/header-logo.png" style="height: 50px;">
        Sun Line
      </a>
    </h1>
  </div>
  <nav id="mainav" class="fl_right">
    <ul class="clear">
      <li><a routerLink="/home">Home</a></li>
      <li><a class="drop" href="#">Our Works</a>
        <ul>
          <li><a routerLink="/commercial">Commercial</a></li>
          <li><a routerLink="/film">Film</a></li>
          <li><a routerLink="/music_video">Music Videos</a></li>
          <li><a href="#">Print</a></li>
          <li><a routerLink="/teledrama">Teledrama</a></li>
        </ul>
      </li>
      <li><a class="drop" href="#">Special Packages</a>
        <ul>
          <li><a routerLink="/silver">Silver Package</a></li>
          <li><a routerLink="/gold">Gold Package</a></li>
          <li><a routerLink="/platinum">Platinum Package</a></li>
        </ul>
      </li>
      <li><a class="drop" href="#">Amarakoon Foundation</a>
        <ul>
          <li><a href="#">Amarakoon Home</a></li>
          <li><a href="#">Amarakoon Programmes</a></li>
          <li><a href="#">About Founder</a></li>
          <li><a href="#">Image Gallery</a></li>
          <li><a href="#">Amarakoon foundation's Doners</a></li>
          <li><a href="#">Planned Elderly House</a></li>
          <li><a href="#">Amarakoon Contacts</a></li>
        </ul>
      </li>
      <li><a routerLink="/aboutus">About US</a></li>
    </ul>
  </nav>
</header>
