<div class="wrapper row3 animated fadeIn">
    <section class="hoc container clear">
      <img src="../../assets/images/GoldPackage.JPG"/>
      <p><b>Price:- Rs 25,000.00</b></p>
      <b><u>Includes</u></b>
      <ul>
        <li>A Video Introduction about you</li>
        <li>Who are you?</li>
        <li>Why you are so Special</li>
        <li>Why client must choose you</li>
        <li>Your Qualifications</li>
        <li>You achievements</li>
        <li>About your uniqueness</li>
        <li>
          A video introduction about your company
          <ul>
            <li>Location</li>
            <li>Address</li>
            <li>Phone Number</li>
            <li>Your logo</li>
            <li>Explanation about your vision and mission</li>
          </ul>
        </li>
        <li>Two Video segments about your tallented service</li>
        <li>Photo shoot: A photoshoot of your work place</li>
      </ul>
    </section>
  </div>