<div class="animated fadeIn">
  <div class="wrapper bgded overlay" style="background-image:url('../../assets/images/old-logo.png');">
    <div id="pageintro" class="hoc clear">
      <article>
        <div>
          <p class="heading">The art of product</p>
          <h2 class="heading">
            <span style="color: #FFD700;">Sun Line</span>  Advertising</h2>
          <p>The new era of the advertising in Srilanka</p>
        </div>
      </article>
    </div>
  </div>
  <div class="wrapper row3">
    <section class="hoc container clear">
        <h3 class="font-x3 nospace">Introduction</h3>
        <p>The Srilankan culture is dominated by huge company profiles to upgrade the business activities.
        Business is business. But not equal.Every company is formed to upgrade their business and always expect
        a higher profit margin. That is the real truth. To upgrade the above, there are many policies. To acheive the real success is not
        the item or the selling material. In the morning when you open your closed eyes, you will see thousand of business places, trading the same item.
        To win the competition and upgrade the day to day business, there is only one option.
        </p>
        <ul>
          <li>To move Forward</li>
          <li>To improve</li>
          <li>To promote</li>
          <li>To go forward</li>
          <li>For the superiority gain</li>
          <li>To raise in rank</li>
          <li>To mount upward</li>
        </ul>
    </section>
  </div>
  <div class="wrapper row3">
    <main class="hoc container clear">
      <h3 class="font-x3">Our Target Works</h3>
      <ul class="nospace group services">
        <li class="one_third first btmspace-30">
          <article><a href="#"><i class="fa fa-4x fa-television"></i></a>
            <h6 class="heading font-x1">Broadcasting</h6>
            <p>We provide TV commercials, radio adds and other broadcasting related things under this section&hellip;</p>
          </article>
        </li>
        <li class="one_third btmspace-30">
          <article><a href="#"><i class="fa fa-4x fa-print"></i></a>
            <h6 class="heading font-x1">Print</h6>
            <p>We provide magazines, paper adds, brochures, albums,  dealer boards under this section&hellip;</p>
          </article>
        </li>
        <li class="one_third btmspace-30">
          <article><a href="#"><i class="fa fa-4x fa-laptop"></i></a>
            <h6 class="heading font-x1">Digital Media</h6>
            <p>We provide web commercials, mobile apps, audio visual production under this section&hellip;</p>
          </article>
        </li>
      </ul>
    </main>
  </div>
  <div class="wrapper row3">
    <section class="hoc container clear">
        <h3 class="font-x3 nospace">Our Services</h3>
        <p>At SUNLINE Advertising we strive to produce innovative work for our clients.The
        creatives that are developed are specifically designed to client's requirements.
        Our creations are built around a solid communications stategy. If you
        have a particular objective to acheive with realistic timing, our SUNLINE
        Advertising team including high quality graphic artists and production personnel, will combine
        to acheive your goal. Our track record demonstrates that our creatives are the best in the market place, and
        invairably better than our international counterparts. We are proud of this cornerstone
        and would be pleased to provide examples of the fantastic wor that we had designed.</p><br><br>
        <div>
          <main class="hoc container clear">
            <h5 class="font-x3">
              Our expertise includes</h5>
            <ul class="nospace group services">
              <li class="one_third first btmspace-30">
                <article><a href="#"><i class="fa fa-4x fa-university"></i></a>
                  <p>Job Bank, Model Bank, Model Academy</p>
                </article>
              </li>
              <li class="one_third btmspace-30">
                <article><a href="#"><i class="fa fa-4x fa-television"></i></a>
                  <p>Advertising Champaigns</p>
                </article>
              </li>
              <li class="one_third btmspace-30">
                <article><a href="#"><i class="fa fa-4x fa-file-text-o"></i></a>
                  <p>Script writing & concept designing</p>
                </article>
              </li>
              <li class="one_third first btmspace-30">
                <article><a href="#"><i class="fa fa-4x fa-th-large"></i></a>
                  <p>Stall/ Set Designing</p>
                </article>
              </li>
              <li class="one_third btmspace-30">
                <article><a href="#"><i class="fa fa-4x fa-birthday-cake"></i></a>
                  <p>Event and promotion design</p>
                </article>
              </li>
              <li class="one_third btmspace-30">
                <article><a href="#"><i class="fa fa-4x fa-heart"></i></a>
                  <p>Wedding Albums/ Pre - shoots </p>
                </article>
              </li>
              <li class="one_third first btmspace-30">
                <article><a href="#"><i class="fa fa-4x fa-music"></i></a>
                  <p>Music Videos/ Drama & Film(DVD) Production</p>
                </article>
              </li>
              <li class="one_third btmspace-30">
                <article><a href="#"><i class="fa fa-4x fa-television"></i></a>
                  <p>TV Commercial Packages</p>
                </article>
              </li>
              <li class="one_third btmspace-30">
                <article><a href="#"><i class="fa fa-4x fa-building"></i></a>
                  <p>Company Logo/ Video profile Design</p>
                </article>
              </li>
              <li class="one_third first btmspace-30">
                <article><a href="#"><i class="fa fa-4x fa-video-camera"></i></a>
                  <p>Corporate & Documentry Videos</p>
                </article>
              </li>
              <li class="one_third btmspace-30">
                <article><a href="#"><i class="fa fa-4x fa-gift"></i></a>
                  <p>Product Designing (3D; Mental/ V-Ray)</p>
                </article>
              </li>
              <li class="one_third btmspace-30">
                <article><a href="#"><i class="fa fa-4x fa-television"></i></a>
                  <p>Interior & Exterior Design (Architectural: 3D Model for Print)</p>
                </article>
              </li>
              <li class="one_third first btmspace-30">
                <article><a href="#"><i class="fa fa-4x fa-eject"></i></a>
                  <p>Title Animations & Special Effects (VFX) for Movie Productions</p>
                </article>
              </li>
            </ul>
          </main>
        </div>
    </section>
    <section class="hoc container clear">
      <h3 class="font-x3 nospace">Our Mission</h3>
      <p>The option is calles "advertise" the respected items in a practical way and to uphold
        the business. With more practical advertise, you can upfit it. Can take to higher
        in place and also superior in rank. When it become success, it doesn't matter where it is.
        The company can be on a higher ground of a district. On a ground elevated above
        meadows and valleys, slops of hills.At the center of the main city of any district</p>
    </section>
    <section class="hoc container clear">
      <h3 class="font-x3 nospace">Our Vision</h3>
      <p>To upgrade your business activities: announce, publish, give public notice and inform all srilankan citizens by advertising in a practical and
      methodical way. The SUNLINE ADVERTISING company was started in year 2017 to help, And also to upgrade any business establishment in sri lanka
      as mentioned above.</p>
    </section>
  </div>
</div>
