<div class="wrapper row3 animated fadeIn">
  <section class="hoc container clear">
    <h3>Feedbacks</h3>
    <form>
      <p>Add Your Feedback</p>
      <div class="form-group" *ngIf="newComment">
        <label for="exampleFormControlInput1">Your Name</label>
        <input type="text" class="form-control" name="owner" [(ngModel)]="newComment.owner" placeholder="eg: - sunline user">
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Feedback</label>
        <textarea class="form-control" name="comment" [(ngModel)]="newComment.comment" rows="3"></textarea>
      </div>
      <button class="btn btn-success pull-right" (click)="insertNewFeedback()">submit</button>
    </form>
    <br/><br/>
    <div class="row" *ngFor="let comment of commentList | paginate: { itemsPerPage: 3, currentPage: page }">
      <div class="col-sm-1">
        <img src="../../assets/images/user.png" style="width: 50px; height: 50px;"><br>
        <span style="font-size: x-small; color:darkgray; font-style: italic">{{comment.owner}}</span>
      </div>
      <div class="col-sm-11">
        <p>{{comment.comment}}</p>
      </div>
    </div><br>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </section>
</div>
